<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Andrey.Uskov/Desktop/ITooLabs">
        <classes>
            <class name="endToEnd.MySuperTest">
                <methods>
                    <include name="MarketPopUpCheck"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>